body {
position: relative;
margin: 0;
padding: 0;
background-color: grey;
font-family:monospace;
}

#surface {
position: fixed;
top: 50%;
left: 50%;
width: 1px;
height: 1px;
z-index: 1;
}

#board {
position: absolute;
overflow: visible;
z-index: 3;
}

.hex {
position: absolute;
width: 300px;
height: 260px;
background: url(../images/hex.png) no-repeat center center;
z-index: 4;
font-size: 36px;
text-align: center;
line-height: 60px;
}

.selecthex .hex.neighbor {
background: url(../images/hex_neighbor.png) no-repeat center center;
}

.selecthex .hex.blocked {
background: url(../images/hex_black.png) no-repeat center center;
}

.selecthex .hex:hover {
background: url(../images/hex_selected.png) no-repeat center center;
}

.selecthex .hex.blocked:hover {
background: url(../images/hex_black.png) no-repeat center center;
}


.tile {
position: absolute;
top: 0px;
left: 0px;
width: 300px;
height: 260px;
background: url(../images/token.png) no-repeat center center;
z-index: 4;	
}

.selecttile #board .tile:hover {
background: url(../images/token_selected.png) no-repeat center center;
}

.selectdroptile #drops .tile:hover {
background: url(../images/token_selected.png) no-repeat center center;
}

.tile.saved {
background: url(../images/token_saved.png) no-repeat center center;	
}

#drops {
position: absolute;
z-index: 2;
width: 300px;
height: 260px;
}

.drop {
position: absolute;
color: white;
font-size: 4em;
font-weight: bold;
line-height: 260px;
text-align: center;
background: url(../images/drop.png) no-repeat center center;	
}

.selectdrop .drop:hover {
background: url(../images/drop_selected.png) no-repeat center center;
}

.selectdrop .drop.choose {
background: url(../images/drop_choose.png) no-repeat center center;
}

#stats {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 40px;
z-index: 100;
background-color: #2C2C2C;
background-image: -moz-linear-gradient(top, #333, #222);
background-image: -ms-linear-gradient(top, #333, #222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
background-image: -webkit-linear-gradient(top, #333, #222);
background-image: -o-linear-gradient(top, #333, #222);
background-image: linear-gradient(top, #333, #222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#players {
	position: relative;
	margin: 8px auto;
	width: 800px;
}

.player {
	float: left;
	width: 150px;
	color: #E0E0E0;
	line-height: 24px;
}

.player_indicator {
	float: left;
	margin: 5px;
	height: 14px;
	width: 14px;
	border: 1px solid white;
}

.color_red .player_indicator {
	background-color: red;
}

.color_blue .player_indicator {
	background-color: blue;
}


.color_green .player_indicator {
	background-color: green;
}


.color_yellow .player_indicator {
	background-color: yellow;
}

.player.eliminated {
	opacity: 0.22;
}

#players .active {
border-bottom: 1px dashed white;
}


#menu {
position: fixed;
bottom: 0px;
left: 0px;
width: 100%;
height: 40px;
background-color: red;
border-top: 2px solid white;
z-index: 101;
}

#menu .menu_button {
	float: left;
	width: 100px;
	height: 30px;
	color: white;
	margin: 5px 20px;
	line-height: 30px;
/*	border: 1px solid black;
	background-color: #990000;*/
}

.menu_button span {
	display: block;
	text-align: center;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	float: left;
	margin: 5px 5px 0px 10px;
	line-height: 20px;
}

#menu_button_O span {
	background-color: red;
}

#menu_button_U span {
	background-color: blue;
}

#menu_button_Y span {
	background-color: green;
}

#menu_button_A span {
	background-color: orange;
}

#menu #menu_button_MSG {
	width: 500px;
}

#menu_button_MSG span {
	display: none;
}

#log {
	position: fixed;
	bottom: 42px;
	left: 10px;
	opacity: 0.5;
	width: 200px;
	height: 300px;
	overflow-y: scroll;
	background-color: black;
	color: white;
	font-size: 0.8em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
}

#log .color_red {
color: red;
}

#log .color_blue {
	background-color: white;
	color: blue;
}


#log .color_green {
	color: green;
}


#log .color_yellow {
	color: yellow;
}